target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
.attach**
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
test-output/
bin/
*.zip
hs_*
.vscode/launch.json
src/main/resources/application-ev.properties
.attach_pid5400
.sts4-cache/classpath-data.json
